.body{
    font-size: 16px;
    font-family:  "Hiragino Sans";
}
#wrapper{
    background-color: black;
    color: #fff;
}



/* ---------------top----------------*/

.navi{
    margin-left: 55px;
}

.rogo1{
    padding-top: 50px;
}

#g-nav {
    margin-top: -25px;
}

#g-nav li{
    letter-spacing: 7px;
    line-height: 45px;
    margin-left: -15px;
}

/* マウスオーバー時の背景色 */
#g-nav li :hover {
    color: #FFD605;
}

.navi ul{
    font-size: 18px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 30px;
}

.link{
    margin-top: 150px;
    padding-bottom: 50px;
}
.main_visual{
    background-image: url(../images/main_image.png);
    background-size: cover;
    width: 100%;
    height: auto; 
    background-repeat: no-repeat;
}

.title_box{
    position: relative;
}

.title1{
    position: absolute;
    top: 50px;
    left: 360px;
}

.title2{
    position: absolute;
    top: 250px;
    right: 80px;
}

.title3{
    position: absolute;
    top: 670px;
    left: 375px;
}

.name_box{
    display: flex;
    font-weight: bold;
    position: relative;
    position: absolute;
    top: 560px;
    right: 0px;
}


dl{
    flex-wrap: wrap;
    display: flex;
    width: 300px;
    margin: 0 auto;
    /* line-height: 10px; */
    margin-bottom: 50px;
    line-height: 24px;
}



dt {
    width: 18%;
    text-align: left;
}
  
dd {
    width: 82%;
    text-align: left;
}


/*===========
.loop-
===========*/

.marquee-container {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center; 
    justify-content: center; /* 水平方向の中央に揃える */
    overflow: hidden;
    white-space: nowrap;
    background-color: #A32A2A; /* 背景色の指定 */
    color: white; /* テキストの色の指定 */
    font-size: 16px; /* テキストのサイズの指定 */
}

.marquee {
    display: flex;
    display: inline-block;
    white-space: nowrap;
    animation: marquee 40s linear infinite;
}



@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}




/* ---------------news----------------*/

.inner{
    width: 1100px;
    margin: 0 auto;
}

h2{
    text-align: center;
    padding-top: 150px;
}

.news_flex{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.news_text p{
    margin-top: 20px;
    line-height: 30px;
}

.news_text img{
   margin-top: 45px;
}






/* ---------------story----------------*/




.story_box h3{
    text-align: center;
    margin-top: 50px;
}

.story_flex1{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.story_flex1 h4{
    margin-top: -10px;
    margin-left: -12px;
}

.story_flex2{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 80px;
   
}

.story_flex2 h4{
    margin-left: -8px;
}

.story_text p{
    margin-top: 10px;
    line-height: 30px;
    width: 750px;
}



/* ---------------character----------------*/

/*==================================================
スライダーのためのcss
===================================*/



.character_box{
    margin-top: 100px;
    padding-bottom: 200px;
}

.character_box p{
    letter-spacing: 3px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    margin:0 auto;
}


.slider .slick-slide {
	transform: scale(0.65);/*左右の画像のサイズを80%に*/
	transition: all .7s;/*拡大や透過のアニメーションを0.5秒で行う*/
	opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
	transform: scale(1);/*中央の画像のサイズだけ等倍に*/
	opacity: 1;/*透過なし*/
}




/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 33%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #fff;/*矢印の色*/
    border-right: 2px solid #fff;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
	margin:70px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#FFD605;/*ドットボタンの現在地表示の色*/
}

